body  {
   font-family: 'Poppins', sans-serif;
   line-height: 1.6;
}

h2 {
   font-size: x-large;
   font-weight: 700;
   /* font-variant: small-caps; */
   text-transform: capitalize;
   letter-spacing: 2px;
   word-spacing: 5px;;
   text-align: center;
}

a {
   text-decoration: none;
}