* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: gray;
  font-size: 14px;
}

.card{
  width: 400px;
  background-color:white;
  border-radius: 6px;
  position: relative;
  overflow: clip;
  padding: 10px 20px;
  margin: 20px auto;
  box-shadow: 0px 4px 6px rgba (0,0,0,0.5);

  h2{
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
  
  img {
    float: right;
    height: 100%;
    position: absolute; 
    right: 0;
    top: 0;
  }  

  button {
    padding: 10px ;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
    &:active{
      box-shadow: 2px 2px 2px rgba(0,0,0,0.5);;
    }

  }


}

.sporty {
  color: rgb(141, 39, 39);
  button {
    background-color:  rgb(141, 39, 39);
    color: white;
    &:hover {
      background-color:  rgba(141, 39, 39, 0.8);
    }

  }
}

.casual {
  color: rgb(14, 14, 133);

  button {
    background-color: rgb(14, 14, 133);
    color: white;
    &:hover {
      background-color:  rgba(14, 14, 133, 0.8);
    }

  }
}

.formal {
  color: brown;
  button {
    background-color: brown;
    color: white;   
    &:hover {
      background-color:  rgba(165,42,42, 0.8);
    }

  }  
}

