* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
}

.container {
  margin: 100px auto;
  width: 400px;
  height: 400px;
}

.card {
  background-color: #303030;
  border-radius: 5px;
  color:white;
  padding: 30px;
  text-align: center;

  h1 {
  font-size: 20px;
  font-weight:  300;
  line-height: 36px;
  margin-bottom: 20px;
}
  p {
    margin-bottom: 20px auto;
    font-size: 15px;
  }
}

.form-group {
  margin: 20px auto;
}

.form-group input {
  background-color: #f1f1f1;
  color: #303030;
  padding: 15px 10px;
  margin: auto;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: text;
}

.form-group button {

background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(237, 124, 2, 1) 0%, rgba(158, 113, 49, 1) 87%);;
  padding: 15px 10px;
  margin: auto;
  width: 100%;
  color:white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba (0,0,0,0.4);
}

.card button:hover {
  background: linear-gradient(
    90deg,
    rgba(232,132,62,1) 21%,
    rgba(239,111,69,1) 61%);
}
