body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  /* background: #f3f3f3; */
}

.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}

.item-grid {
  display: grid;
  background: #f3f3f3;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: 1fr 2fr 1fr;
  grid-row-gap: 20px;
  grid-gap: 10px; */

  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
  grid-template-rows: 100px 200px 300px;
  grid-auto-rows: 100px;
}
