* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

p {
  padding: 2rem;
}

main{
  container-type: inline-size;
  max-width: 1100px;
  margin: 0 auto;
  background: #f3f3f3;
  padding: 20px;
  height: 100vh;
  /* display: flex; */
}

.card {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba (0,0,0,0.1);

  width: 50cqw;

  h2 {
    margin-bottom: 0.5rem;
  }
}

.card-2{
  width: 70cqw;
  height: 50cqh;
}

@container (max-width: 600px){
  .card{
    width: 95cqw;
  }
}