body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background-color: lightblue;
  width: 100%;
  display:flex;
  flex-wrap:nowrap;
}

.flex-item{
  background-color: coral;
  border:1px solid black;
  padding: 20px;
  /* width: 100px; */

  /* grow shrink basis */
  flex: 1 0 0;
}

.item-1, .item-2{
  /* flex-shrink: 0; */
  /* flex-grow: 1;  */
}

.item-3 {
  /* flex-grow: 3; */
  flex-basis: 200px;
  flex-shrink: 0;
}