body {
  font-family: Arial, sans-serif;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  justify-content: center;;
  align-items: center;
}

.box-1 {
  position: static;
}
.box-2 {
  position: relative;
  left: 30px;
  top: 20px;
}
.box-3 {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 2;
}
.box-4 {
  position: sticky;
  top: 200px;

}
.box-5 {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: coral;
  z-index: 1;
}
.box-6 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}